body {
  padding-top: 5rem;
}

.main-content {
  padding: 3rem 1.5rem;
}

h1 {
  text-align: center;
}

.reason-info:hover {
  cursor: pointer;
}

.reason-label {
  white-space: nowrap;
}

.instructions-card {
  margin-bottom: 1.5rem;
}
