body {
  padding-top: 5rem;
}

.main-content {
  padding: 1rem 1.5rem;
}

.reason-info:hover {
  cursor: pointer;
}

.reason-label {
  white-space: nowrap;
}

.activity-score {
  font-weight: 700;
}

.bd-footer {
  font-size: .875rem;
  background-color: #f7f7f7;

  a {
    font-weight: 600;
    color: #495057;

    &:hover,
    &:focus {
      color: #007bff;
    }
  }
}

.bd-footer-links {
  padding-left: 0;

  li {
    display: inline-block;

    + li {
      margin-left: 1rem;
    }
  }
}

.social-share {
  padding: 1rem 0;
  font-size: .9rem;
  a {
    border-radius: 3px;
    box-sizing: border-box;
    color: #fafafa;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    padding: 0 6px 3px;
    text-align: center;
    text-decoration: none;

    &.fb-share {
      background: #3B5997
    }

    &.twitter-share {
      background: #00aced;
    }

    &.email-share {
      background: #2c4762;
    }

    &.github-share {
      background: #4078c0;
    }
  }
}