<p class="lead">This is the <i>Person-Activity Fit Diagnostic</i> test taken from the book <a href="'https://amazon.com/How-Happiness-Approach-Getting-Life/dp/0143114956'">The How of Happiness</a>.</p>
<p class="lead">It's a tool to help you determine what types of activities are likely to bring you the most "happiness bang for your buck."</p>
<div class="instructions-card card">
  <h4 class="card-header text-white bg-info">Instructions</h4>
  <div class="card-body">
    <p>Consider each of the following 12 happiness activities. Reflect on what it would be like to do the activity every week for an extended period of time. Then rate each activity by filling in the appropriate number (1 to 7) for each of the following reasons: NATURAL, ENJOY, VALUE, GUILTY, and SITUATION...</p>
    <hr/>
    <p>People do things for many different reasons. Rate why you might keep doing this activity in terms of each of the following reasons. Use a 1 (not at all) to 7 (very much) scale.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Reason</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>NATURAL</td>
          <td>I'll keep doing this activity because it will feel "natural" to me and I'll be able to stick with it.</td>
        </tr>
        <tr>
          <td>ENJOY</td>
          <td>I'll keep doing this activity because I will enjoy doing it; I'll find it to be interesting and challenging.</td>
        </tr>
        <tr>
          <td>VALUE</td>
          <td>I'll keep doing this activity because I will value and identify with doing it; I'll do it freely even when it's not enjoyable.</td>
        </tr>
        <tr>
          <td>GUILTY</td>
          <td>I'll keep doing this activity because I would feel ashamed, guilty, or anxious if I didn't do it; I'll force myself.</td>
        </tr>
        <tr>
          <td>SITUATION</td>
          <td>I'll keep doing this activity because somebody else will want me to or because my situation will force me to.</td>
        </tr>
      </tbody>
    </table>
    <p>The activities with the highest <i>Fit Score</i> are the ones that are most likely to bring you the most happiness. <i>Activity Fit Score</i> is calculated with the equation:</p>
    <pre>FIT SCORE = (NATURAL + ENJOY + VALUE) / 3 - (GUILTY + SITUATION) / 2</pre>
  </div>
</div>
