
<div class="social-share">
  Share:
  <a class="social-btn twitter-share" href="https://twitter.com/intent/tweet?text=I%20just%20took%20the%20Person-Activity%20Fit%20Diagnostic%20test%20to%20find%20what%20types%20of%20activities%20are%20likely%20to%20increase%20my%20happiness!&url={{ siteUrlEncoded }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
  <a class="social-btn fb-share" href="https://facebook.com/sharer.php?u={{ siteUrlEncoded }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
  <a class="social-btn email-share" href="mailto:?subject=Person-Activity Fit Diagnostic Test Website&amp;body={{ siteUrlEncoded }}" title="Share via Email"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
</div>
